<h1>{{restaurant.name}}</h1>
<div class="my-2">[{{restaurant.Category.name}}]</div>
<br>
<ul class="databoard-data">
  <li>瀏覽次數: {{restaurant.viewCounts}}</li>
  <li>評論次數: {{restaurant.commentCounts}}</li>
  <li>收藏數: {{restaurant.favoritedCounts}}</li>
</ul>
<a href="javascript:history.back()">回上一頁</a>